In [2]:
import pandas as pd

In [ ]:
movies = pd.read_csv('./movies_main.csv')
movies.head()

# Data Exploration

In [28]:
movies.isna().sum()

movie_id               0
title                  0
genres                 0
year                   0
imdb_rating            0
imdb_num_votes         0
is_adult               0
runtime_minutes        0
budget                 0
original_language     13
overview              25
popularity             0
revenue                0
tagline              850
tmdb_vote_count        0
tmdb_vote_avg          0
dtype: int64

In [29]:
movies['year'].value_counts()

1996    345
1995    342
1998    337
1997    315
1999    283
       ...
1923      3
1919      3
1922      2
1920      2
1921      1
Name: year, Length: 81, dtype: int64

In [30]:
movies['imdb_rating'].value_counts()

 6    1410
 7    1156
 5     683
 8     236
 4     208
-1     119
 3      54
 2      12
 9       5
Name: imdb_rating, dtype: int64

In [31]:
movies['tmdb_vote_avg'].value_counts()

 6     1577
 7      917
 5      849
 4      217
 8      131
 0       79
 3       60
 2       27
-1       13
 1        7
 9        3
 10       3
Name: tmdb_vote_avg, dtype: int64

In [15]:
movies['original_language'].value_counts()

en    3516
fr     117
es      39
it      38
de      37
ja      26
zh      20
cn      10
sv       8
ru       7
pt       6
nl       6
fa       6
ar       3
sr       3
hu       3
da       3
xx       2
ko       2
bn       2
no       2
pl       2
cs       2
hr       1
tr       1
sh       1
el       1
et       1
mk       1
nb       1
sl       1
ka       1
hi       1
cy       1
wo       1
he       1
ca       1
Name: original_language, dtype: int64

In [16]:
movies['is_adult'].value_counts()

 0    3763
-1     119
 1       1
Name: is_adult, dtype: int64

In [21]:
movies['imdb_num_votes'].max()
movies [movies['imdb_num_votes'] == movies['imdb_num_votes'].max()]

,movie_id,title,genres,year,imdb_rating,imdb_num_votes,is_adult,runtime_minutes,budget,original_language,overview,popularity,revenue,tagline,tmdb_vote_count,tmdb_vote_avg
315,318,"shawshank redemption, the",drama,1994,9,2554263,0,142,25000000,en,Framed in the 1940s for the double murder of h...,81,28341469,Fear can hold you prisoner. Hope can set you f...,20967,8

In [32]:
movies['tmdb_vote_count'].max()
movies[movies['tmdb_vote_count'] == movies['tmdb_vote_count'].max()]

,movie_id,title,genres,year,imdb_rating,imdb_num_votes,is_adult,runtime_minutes,budget,original_language,overview,popularity,revenue,tagline,tmdb_vote_count,tmdb_vote_avg
2890,2959,fight club,drama,1999,8,2010966,0,139,63000000,en,A ticking-time-bomb insomniac and a slippery s...,67,100853753,Mischief. Mayhem. Soap.,23683,8

In [33]:
movies['tmdb_vote_count'].max()
movies [movies['popularity'] == movies['popularity'].max()]

,movie_id,title,genres,year,imdb_rating,imdb_num_votes,is_adult,runtime_minutes,budget,original_language,overview,popularity,revenue,tagline,tmdb_vote_count,tmdb_vote_avg
588,592,batman,action adventure crime drama,1989,7,362650,0,126,35000000,en,Batman must face his most ruthless nemesis whe...,267,411348924,Have you ever danced with the devil in the pal...,6138,7

In [34]:
movies[movies['runtime_minutes'] == movies['runtime_minutes'].max()]

,movie_id,title,genres,year,imdb_rating,imdb_num_votes,is_adult,runtime_minutes,budget,original_language,overview,popularity,revenue,tagline,tmdb_vote_count,tmdb_vote_avg
3461,3530,smoking/no smoking,comedy,1993,7,1805,0,298,0,fr,"""Smoking"" and ""No Smoking"" are two segments of...",3,0,NaN,52,6

# Build a dataframe for content based filtering

In [35]:
movies.head()

,movie_id,title,genres,year,imdb_rating,imdb_num_votes,is_adult,runtime_minutes,budget,original_language,overview,popularity,revenue,tagline,tmdb_vote_count,tmdb_vote_avg
0,1,toy story,animation children's comedy,1995,8,953300,0,81,30000000,en,"Led by Woody, Andy's toys live happily in his ...",155,373554033,NaN,15158,8
1,2,jumanji,adventure children's fantasy,1995,7,333517,0,104,65000000,en,When siblings Judy and Peter discover an encha...,18,262797249,Roll the dice and unleash the excitement!,8836,7
2,3,grumpier old men,comedy romance,1995,6,26811,0,101,25000000,en,A family wedding reignites the ancient feud be...,11,71500000,Still Yelling. Still Fighting. Still Ready for...,288,6
3,4,waiting to exhale,comedy drama,1995,5,10757,0,124,16000000,en,"Cheated on, mistreated and stepped on, the wom...",8,81452156,Friends are the people who let you be yourself...,120,6
4,5,father of the bride part ii,comedy,1995,6,37343,0,106,0,en,Just when George Banks has recovered from his ...,14,76594107,Just When His World Is Back To Normal... He's ...,561,6

In [42]:
tags = pd.read_csv('/tags.csv')
tags = tags.iloc[: , 1:]

FileNotFoundError: [Errno 2] No such file or directory: '/tags.csv'