# Features 6, 7, 8, 9

In [13]:
import pandas as pd

users = pd.read_csv('https://raw.githubusercontent.com/nchichilidze/RS-with-GE/main/preprocessed_movielens_1m/users.csv')
ratings = pd.read_csv('https://raw.githubusercontent.com/nchichilidze/RS-with-GE/main/preprocessed_movielens_1m/ratings.csv')
movies = pd.read_csv('https://raw.githubusercontent.com/nchichilidze/RS-with-GE/main/preprocessed_movielens_1m/movies.csv')

users = users.iloc[: , 1:]
ratings = ratings.iloc[: , 1:]
movies = movies.iloc[: , 1:]

data = ratings.copy(deep=True)

data['age_at_rating'] = 0
data['age_at_release'] = 0
data['born_before'] = 0
data['gender'] = 0 

data_collection_year = 2000

In [5]:
users.isna().sum()

user_id    0
gender     0
age        0
dtype: int64

In [7]:
users.head()

   user_id  gender  age
0        1       1    1
1        2       0   56
2        3       0   25
3        4       0   45
4        5       0   25

In [12]:
movies.head()

   movie_id                        title                        genres  year
0         1                    Toy Story   animation children's comedy  1995
1         2                      Jumanji  adventure children's fantasy  1995
2         3             Grumpier Old Men                comedy romance  1995
3         4            Waiting to Exhale                  comedy drama  1995
4         5  Father of the Bride Part II                        comedy  1995

In [19]:
for index, row in data.iterrows():
    if (index % 100000 == 0):
        print(index)
    
    user_id = int(row['user_id'])
    movie_id = int(row['movie_id'])
    
    # feature 6: age at rating
    user_data = users[users['user_id'] == user_id]
    age_at_rating = int(user_data['age'])
    
    # feature 7: age at release 
    movie_data = movies[movies['movie_id'] == movie_id]
    movie_release_year = int(movie_data['year'])
    user_birth_year = data_collection_year - age_at_rating
    age_at_release = movie_release_year - user_birth_year 
    
    # feature 8: born before 
    born_before = 0
    
    if (age_at_release >= 0): 
        born_before = 1
    
    # feature 9: gender 
    
    gender = int(user_data['gender'])
    
    # insert features 
    data.at[index, 'age_at_rating'] = age_at_rating
    data.at[index, 'age_at_release'] = age_at_release
    data.at[index, 'born_before'] = born_before
    data.at[index, 'gender'] = gender

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000

In [20]:
data.tail()

,user_id,movie_id,rating,age_at_rating,age_at_release,born_before,gender
1000204,6040,1091,1,25,14,1,0
1000205,6040,1094,5,25,17,1,0
1000206,6040,562,5,25,20,1,0
1000207,6040,1096,4,25,7,1,0
1000208,6040,1097,4,25,7,1,0

In [21]:
data = data.drop(columns=['user_id', 'movie_id', 'rating'])

In [22]:
data.head()

   age_at_rating  age_at_release  born_before  gender
0              1             -24            0       1
1              1              -3            0       1
2              1             -35            0       1
3              1               1            1       1
4              1              -1            0       1

In [23]:
data.shape

(1000209, 4)

In [24]:
data.to_csv('ratings_6_9.csv', index=False)