# Features 3, 4, 5

In [5]:
import pandas as pd 

ratings = pd.read_csv('https://raw.githubusercontent.com/nchichilidze/RS-with-GE/main/preprocessed_movielens_1m/ratings.csv')
ratings = ratings.iloc[: , 1:]

In [6]:
ratings.head()

   user_id  movie_id  rating
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [8]:
user_favourite_genres = pd.DataFrame()
users = list(ratings['user_id'].unique())
user_favourite_genres['user'] = None 
user_favourite_genres['favourite_genres'] = None

In [11]:
def to_list(string_list): 
    # Converting string to list
    res = string_list.strip('][').split(', ')
    return res

user_favourite_movies = pd.read_csv('../content_based_filtering/user_favourite_movies.csv')
user_favourite_movies

[
1
1
9
3
,

3
4
0
8
,

2
3
5
5
,

1
2
8
7
,

2
8
0
4
,

5
9
4
,

9
1
9
,

5
9
5
,

9
3
8
,

2
3
9
8
,

2
9
1
8
,

1
0
3
5
,

2
7
9
1
,

2
0
1
8
,

3
1
0
5
,

2
7
9
7
,

1
2
7
0
,

5
2
7
,

4
8
,

1
0
9
7
,

1
7
2
1
,

1
5
4
5
,

2
2
9
4
,

3
1
8
6
,

1
5
6
6
,

5
8
8
,

1
9
0
7
,

7
8
3
,

1
8
3
6
,

1
0
2
2
,

2
7
6
2
,

1
5
0
,

1
,

1
9
6
1
,

1
9
6
2
,

2
6
9
2
,

2
6
0
,

1
0
2
8
,

1
0
2
9
,

1
2
0
7
,

2
0
2
8
,

5
3
1
,

3
1
1
4
,

6
0
8
,

1
2
4
6
]